<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transactions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#404040;color:white;">
  <ion-card *ngIf="!auth.loggedIn">
    <ion-card-header>
      Not logged in.
    </ion-card-header>
    <ion-card-content>
      <button ion-button (click)="doLogin()">Login</button>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="auth.loggedIn" style="background-color:#404040;color:white;">
    Account - {{currentaccountPrvdr.currentAccount}}
  </ion-item>
  <ion-item *ngIf="auth.loggedIn && !transactionsPrvdr.transactions" style="background-color:#404040;color:white;">
    Loading transactions...
  </ion-item>
  <ion-list *ngIf="auth.loggedIn && transactionsPrvdr.transactions">
    <button *ngFor="let tx of transactionsPrvdr.transactions" style="background-color:#404040;color:white;" ion-item (click)="itemTapped($event, tx)">
      <ion-icon name="pricetags" item-left></ion-icon>
      {{ tx.accountName }}
      <div style="font-size:smaller;" class="item-note" item-right>
        {{ tx.activity }} {{ tx.amount }} {{ tx.transactionDate }}
      </div>
    </button>
  </ion-list>
  <ion-list *ngIf="auth.loggedIn">
    <button style="background-color:#404040;color:white;" ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
</ion-content>
