<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#404040;color:white;">
  <ion-card *ngIf="auth.loggedIn">
    <ion-card-header>
      Logged in as {{ auth.userProfile.displayName }}
    </ion-card-header>
    <ion-card-content>
      <button ion-button block (click)="doLogout()">Logout</button>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="!auth.loggedIn" style="background-color:#404040;color:white;">
    Not logged in.
  </ion-item>
</ion-content>
